/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

@font-face{
  font-family: "Tilt Prism";
  font-weight: 400;
  src: url('../../fonts/tiltprism-regular-variablefont_xrotyrot-webfont.woff2') format('woff2'),
       url('../../fonts/tiltprism-regular-variablefont_xrotyrot-webfont.woff') format('woff');
}
body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  width: min(100% - 2rem, 60ch);
  margin-inline: auto;
  margin-block: 4rem;
}

h1 {
  color: var.$primary-color;
  text-align: center;
  font-family: Tilt Prism;
}
