/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;

@font-face{
  font-family: 'Tilt Prism';
  font-weight: 400;
  src: url('../fonts/tiltprism-regular-variablefont_xrotyrot-webfont.woff2') format('woff2'),
       url('../fonts/tiltprism-regular-variablefont_xrotyrot-webfont.woff') format('woff');
}

:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --clr: #e8e8e8;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
}

.card {
  width: 400px;
  overflow: hidden;
  border-radius: 5px;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr);
  background-image: url('../images/apple_pie_300.jpg');
  background-size: cover;
  background-position-x: center;
  background-position-y: -50px;
  background-repeat: no-repeat;
  color: hsl(37, 82, 10);
  border-radius: 5px;
}

.card__front::before {
  content: '';
  position: absolute;
  bottom: 0px;
  --spacer: 0em;
  padding-top: 150px;
  left: var(--spacer);
  right: var(--spacer);
  border: none;
  background: linear-gradient(hsl(37 82% 80%/ 0),
    hsl(37 82% 80%/ 0.5),
    hsl(37 82% 80%/ 1));
}

.card__title {
  font-size: 3.5rem;
  position: absolute;
  bottom: 30px;
  left: 80px;
  text-align: center;
  order: 2;
  font-family: 'Tilt Prism';
  font-weight: 400;
}

.card__body {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: left;
  list-style-type: none;
}

.card__back {
  color: var(--clr);
  background: hsl(37, 82, 10);
  border-radius: 5px;
}
@media not (prefers-reduced-motion){
  @media (hover){
  .card:hover .card__content {
    transform: rotateY(.5turn);
  }
  .card__front::before {
  content: '';
  transform: var(--level-one);
  }
  .card__title {
  transform: var(--level-three);
  }
  .card__body {
  transform: var(--level-two);
  }
  .card__back {
  transform: rotateY(.5turn);
  }
  }
}